<h1 class="text-center">Welcome to Tech Talent Store</h1>
<p class="text-center">Give us your money!</p>

	<% if current_user.nil? %>
		<h5>Give us your money!</h5>
	<% else %>
		<h5>Take a look, <strong><%= current_user.name %></strong></h5>
	<% end %>

<%= render 'productloop' %>

